[Unit]
Description=Inforflow healthcheck
Requires=inforflow-collector.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=30s

[Install]
WantedBy=timers.target
